/* Per browser basati su WebKit (Chrome, Safari, Edge) */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
    /* Nasconde completamente la scrollbar */
}

/* Per Firefox */
.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.cursor-pointer {
    cursor: pointer;
}

.img-scroll {
    width: 100%;
    height: 180px;
    object-fit: cover;
    object-position: top;
}

.img-profile-setting {
    width: 30px;
    height: 30px;
    object-fit: cover;
}